---
date: 2022-01-01
title: About
layout: base.njk
---

<section>
  <div class="flex__grand__card--renowned">
    <div class="text__card--renowned">
      <p class="sub__title--renowned title">Mangishi Doll</p>
      <p>
        Mangishi Doll is a Zambian ‘Afro – Eclectic’ Clothing Brand inspired by
        unique style and bold prints. It was established in 2012 by African
        Fashion Designer Kapasa Musonda, who was born and raised in Zambia.
        <p> Mangishi Doll is a cultural and artistic expression of design and style
        through bold patterns and vibrant colors – It is intentionally crafted
        for the Doll that dares to stand out. Mangishi Doll released its first
        official collection in 2014 giving the brand its first online presence.
        </p><p> Since then Mangishi Doll has released seasonal collections that have
        resonated with different people and cultures around the world and has
        dressed celebrities and influencers such as Angela Basset, Susan Kelechi
        Watson and Vonneta Stewart.</p>
      </p>
    </div>
    <div class="img__card--renowned">
      <figure>
        <img
          src="/assets/post-images/2f487c9783390d92e2c85558373390c7.jpg"
          alt=""
          srcset=""
        />
      </figure>
    </div>
  </div>
  <div class="flex__grand__card--renowned">
    <div class="text__card--renowned">
      <p class="sub__title--renowned title">THE MD STORE</p>
      <p>
        The MD (Mangishi Doll) Store is a collective of all our MD Clothing
        lines combined. It is a Look Book of all Mangishi Doll pieces which are
        all inspired by unique style & bold prints. We fuse authentic Chitenge
        prints from different parts of Africa as well as cultural, tribal,
        abstract prints and solids from around the world. All MD pieces are
        designed and ethically crafted in Zambia.
      </p>
    </div>
    <div class="img__card--renowned">
      <figure>
        <img src="/assets/post-images/the brand.jpg" alt="" srcset="" />
      </figure>
    </div>
  </div>

  <div class="flex__grand__card--renowned">
    <div class="text__card--renowned">
      <p class="sub__title--renowned title">MD Individualist</p>
      <p>
        The MD Individualist line is a high-end contemporary collection of
        cohesive seasonal pieces inspired by art, culture and individualism. It
        collects authentic prints over a period of time and crafts unique pieces
        into a collection that tell a story. The MD Individualist presents only
        three collections each year and is only available for a limited period
        as the design process is cultivated and uniquely crafted over a period
        of time.
      </p>
    </div>
    <div class="img__card--renowned">
      <figure>
        <img
          src="/assets/post-images/MangishiDoll_interview_africanprintsinfashion_4.jpg"
          alt=""
          srcset=""
        />
      </figure>
    </div>
  </div>
  <div class="flex__grand__card--renowned">
    <div class="text__card--renowned">
      <p class="sub__title--renowned title">MD Basics</p>
      <p>
        The MD Basics line is the stylist of the brand. It is a collection of
        individual pieces that are inspired by vibrant solids and monochrome,
        graphic and abstract geometric patterns. MD Basics give styling
        inspiration and direction, creating pieces that can be paired with
        Mangishi Doll pieces. ‘MD Basics’ pieces can also be worn separately or
        paired with your closet fav’s!
      </p>
    </div>
    <div class="img__card--renowned">
      <figure>
        <img
          src="/assets/post-images/MangishiDoll_interview_africanprintsinfashion_8.jpg"
          alt="MangishiDoll_interview_africanprintsinfashion_8"
          srcset=""
        />
      </figure>
    </div>
  </div>
  <div class="flex__grand__card--renowned">
    <div class="text__card--renowned">
      <p class="sub__title--renowned title">MD-25</p>
      <p>
        The MD-25 line is an affordable ready to wear collection of sexy, modern
        and fun pieces inspired by feminism, youth & spontaneity. We believe
        every Mangishi Doll is confident, free-spirited and vibrantly young at
        heart. MD-25 pieces embody just that, fusing very colourful abstract and
        tribal Chitenge prints and patterns from different parts of Africa into
        one of a kind flirty pieces. Its first collection will debut on 1st July
        2019.
      </p>
    </div>
    <div class="img__card--renowned">
      <figure>
        <img
          src="/assets/post-images/dfbbebdaaeeee-16137570888p4lc.png"
          alt=""
          srcset=""
        />
      </figure>
    </div>
  </div>
</section>
