---
date: 2022-02-01
title: Store
layout: regular-page.njk
---

<h4 class="title section__title">MD Store</h4>
<p class="regular__paragraph">Mangishi Doll lists all its products on Afrikea, Afrikea is the leading marketplace of #Africanfashion and all things #MadeOfAfrica online. So click on the button below to go our Afrikea online store</p>

<div class="center__btn">
    <a class="regular__btn" target="_blank" rel="noopener" href="https://mangishi-doll.afrikrea.com
">MD Afrikea store</a>
</div>