<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Portfolio" />
    <meta name="keywords" content="HTML, CSS, JavaScript" />
    <meta name="author" content="Xavier K Muneku" />

    <!-- Content to fit all screen sizes -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Css link -->
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="/assets/favicon.ico"
      type="image/x-icon"
    />

    <!-- title of document -->
    <title>Mangishi Doll - {{ title }}</title>
  </head>
  <body>
    {% include 'header.njk' %}
    <main>
      {{ content | safe }} 
    </main>
    {% include 'footer.njk' %}  
  </body>
  <script src="/script/reponsive__nav.js"></script>
</html>
