---
title: Returns & Exchanges
layout: regular-page.njk
---

<h4>RETURNS</h4> 
<p>
Please note that Returns are only acceptable not more than 10 days after you sign for your received package! If it exceeds 10 days since the recorded date from the courier, you will not be eligible for a refund! To make a return,  send an email with the Subject (Order #) to <a href="mailto:orders@mangishidoll.com">orders@mangishidoll.com</a> and specify your reason for return. We have two Return Addresses, one in the US and the other in the UK. Once approved you will be provided with a return address dependent on your location. You are <strong>RESPONSIBLE</strong> for the shipping costs to the return address that will be provided!</p>


<p>
The return must be in approved and saleable condition and returned to its original packaging with your full name when we receive it. The refund will only be processed once we receive the parcel. It will take about 5-10 days for the refund to hit your account and will be issued back through the original method of payment. Kindly provide a tracking number for a speedy refund process!</p>



<h4>EXCHANGES</h4>

<p>
We are unfortunately not able to make direct exchanges, you would have to return the current piece <b>(</b>following the return instructions above<b>)</b> and re-order the desired size/color <b>(</b>subject to availability at the time<b>)</b> from the site as all our stock and inventory are managed online. We advise you re-order immediately so you don’t miss out on ordering the right size or color!</p>