---
title: Home
layout: base.njk
---

<!-- Intro -->
<section class="intro">
  <div>
    <h2 class="title">
      unique cultural zambian women’s clothing sworn and designed with love!
    </h2>
    <p>Hight-end quality clothes. Amazing exotic designs. Delivered to you.</p>
    <div class="center__btn">
      <a class="regular__btn" href="/store">get yours</a>
    </div>
  </div>
  <div>
    <figure>
      <img src="/assets/post-images/cover.jpg" alt="cover" srcset="" />
    </figure>
  </div>
</section>

<!-- Deliver -->
<section class="deliver">
  <div>
    <h2 class="title title--deliver">what we deliver</h2>
    <p>
      Inspired by unique styles & bold prints, Mangishi Doll is a cultural and
      artistic expression of design & style - Intentionally crafted for the doll
      that dares and wants to stand out.
    </p>
  </div>
  <div class="flex__cards">
    <div class="img__card card__shadow--light">
      <figure>
        <img
          src="/assets/post-images/Nia 2pc Palazzo Set (Lime).jpg"
          alt=""
          srcset=""
        />
      </figure>
      <figcaption><p>Tops and pants/trousers</p></figcaption>
    </div>
    <div class="img__card card__shadow--light">
      <figure>
        <img
          src="/assets/post-images/MD-Individualist-Kiki-Green-Maze-Kimono.jpg"
          alt=""
          srcset=""
        />
      </figure>
      <figcaption><p>Dresses</p></figcaption>
    </div>
    <div class="img__card card__shadow--light">
      <figure>
        <img
          src="/assets/post-images/Liya Midi (Dotted).jpg"
          alt=""
          srcset=""
        />
      </figure>
      <figcaption><p>Skirts</p></figcaption>
    </div>
  </div>
</section>

<!-- Top selling -->
<section>
  <h2 class="section__title title">
    Our top selling or most sort after clothing designs in our store right now!
  </h2>
  <div class="flex__cards">
    <div class="img__card card__shadow--dark">
      <figure>
        <img
          src="/assets/post-images/Frika Harem Jumpsuit (Midnight).jpg"
          alt=""
          srcset=""
        />
      </figure>
      <figcaption><p>Frika Harem Jumpsuit (Midnight)</p></figcaption>
    </div>
    <div class="img__card card__shadow--dark">
      <figure>
        <img
          src="/assets/post-images/Amara Mix Midi (Afro).jpg"
          alt=""
          srcset=""
        />
      </figure>
      <figcaption><p>Amara Mix Midi (Afro)</p></figcaption>
    </div>
    <div class="img__card card__shadow--dark">
      <figure>
        <img
          src="/assets/post-images/Liyana Mix Midi (Red Pastel).jpg"
          alt=""
          srcset=""
        />
      </figure>
      <figcaption><p>Liyana Mix Midi (Red Pastel)</p></figcaption>
    </div>
    <div class="img__card card__shadow--dark">
      <figure>
        <img
          src="/assets/post-images/Salima Mix Romper (Fiji).jpg"
          alt=""
          srcset=""
        />
      </figure>
      <figcaption><p>Salima Mix Romper (Fiji)</p></figcaption>
    </div>
    <div class="img__card card__shadow--dark">
      <figure>
        <img
          src="/assets/post-images/Nana T Dress (Coffee Patch).jpg"
          alt=""
          srcset=""
        />
      </figure>
      <figcaption><p>Nana T/Dress (Coffee Patch)</p></figcaption>
    </div>
    <div class="img__card card__shadow--dark">
      <figure>
        <img
          src="/assets/post-images/Mara Mix Maxi (Island).jpg"
          alt=""
          srcset=""
        />
      </figure>
      <figcaption><p>Mara Mix Maxi (Island)</p></figcaption>
    </div>
  </div>
  <p class="regular__paragraph">
    All the products listed here are readily available in our store, so head on
    there and make your order from the multiple clothing designs listed.
  </p>
  <div class="center__btn">
    <a class="regular__btn" href="/store">order now</a>
  </div>
</section>

<!-- Renowned -->
<section class="renowned">
  <h2 class="section__title title">
    some of the renowned names dressed by mangishi doll all around the world
  </h2>
  <div>
    <div class="flex__grand__card--renowned">
      <div class="text__card--renowned">
        <p class="sub__title--renowned title">Angela Basset in Mangishi Doll</p>
        <p>
          Angela Bassett, Queen of Wakanda, was in celebratory mood for the 2018
          American Black Film Festival Honors Awards on Sunday (February 25) in
          Beverly Hills, California.
        </p>
      </div>
      <div class="img__card--renowned">
        <figure>
          <img
            src="/assets/post-images/angela-bassett-year-end-2018-gfy-fashion-red-carpet-11-1545680790.jpg"
            alt=""
            srcset=""
          />
        </figure>
      </div>
    </div>
    <div class="flex__grand__card--renowned">
      <div class="text__card--renowned">
        <p class="sub__title--renowned title">
          Cleo Ice Queen rocking Mangishi Doll
        </p>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Earum
          doloribus maiores alias suscipit aut commodi voluptas, consectetur quo
          quos iste, officiis incidunt blanditiis enim ullam nam voluptates
          tempore neque voluptatem?
        </p>
      </div>
      <div class="img__card--renowned">
        <figure>
          <img src="/assets/post-images/cleo ice queen.jpg" alt="" srcset="" />
        </figure>
      </div>
    </div>
  </div>
</section>

<!-- Comments -->
<section>
  <h2 class="section__title title">
    a couple of random received comments on our instagram from our costomers
  </h2>
  <div class="flex__user__cards">
    <div class="user__card">
      <div class="user__info">
        <div class="user__img__circle">
          <figure>
            <img src="/assets/post-images/149_1024x1024.jpg" alt="" srcset="" />
          </figure>
        </div>
        <div class="user__details">
          <p>Name</p>
          <p><span>@</span>Username</p>
        </div>
      </div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe nihil
        iusto, numquam maxime magnam voluptates asperiores dolores.
      </p>
    </div>
    <div class="user__card">
      <div class="user__info">
        <div class="user__img__circle">
          <figure>
            <img
              src="/assets/post-images/2f487c9783390d92e2c85558373390c7.jpg"
              alt=""
              srcset=""
            />
          </figure>
        </div>
        <div class="user__details">
          <p>Name</p>
          <p><span>@</span>Username</p>
        </div>
      </div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe nihil
        iusto, numquam maxime magnam voluptates asperiores dolores. Repellat
        velit, id veniam, hic possimus dolores dicta tenetur quia, quis saepe
        corporis!
      </p>
    </div>
    <div class="user__card">
      <div class="user__info">
        <div class="user__img__circle">
          <figure>
            <img
              src="/assets/post-images/37077779_1849751095064224_4073478933511667712_n.jpg"
              alt=""
              srcset=""
            />
          </figure>
        </div>
        <div class="user__details">
          <p>Name</p>
          <p><span>@</span>Username</p>
        </div>
      </div>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe nihil
        iusto, numquam maxime magnam voluptates asperiores dolores. Repellat
        velit, id veniam, hic possimus dolores.
      </p>
    </div>
  </div>
</section>
