---
title: Shipping & Handling
layout: regular-page.njk
---
<h4>Shipping &amp; Handling</h4>
<p>
All our pieces are ethically designed and crafted at our Lusaka studio in Zambia, located in the Southern part of Africa. We ship worldwide and all our pieces are Express Shipped!</p>


<p>
<strong>AFRICA ORDERS</strong> – Upon receipt of online payment and order confirmation, your order will be processed and prepped in Studio. This usually takes <b>2-3 days</b> as we do not pre-make all our garments. Thereafter, your order will be <b>EXPRESS</b> shipped out via <b>FedEx</b> or <b>DHL</b> straight to your doorstep and will take between <b>5 and 12 business days</b> to get to you, give or take. You will be provided with a tracking number and you may track your MD goodies!</p>


<p>
<strong>INTERNATIONAL ORDERS</strong> – Upon receipt of online payment and order confirmation, your order will be processed and prepped in Studio. This usually takes <b>2-3 days</b> as we do not pre-make all our garments. Thereafter, your order will be <b>EXPRESS</b> shipped out via <b>FedEx</b> or <b>DHL</b> straight to your doorstep and will take between <b>8 and 15 business days</b> to get to you, give or take. You will be provided with a tracking number and you may track your MD goodies!</p>